.form-wrp {
    border-radius: 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    max-width: 500px;
    width: 100%;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-input-wrp {
    width: 100%;
    margin-bottom: 10px;
}
.form-input {
    width: 100%;
    outline: none;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.btn {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.btn:hover {
    background-color: #0069d9;
}
